@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-surface: #181b21;
    --color-card: #232730;
    --color-input: #2a2f36;
    --color-border: #3a3f48;
    --color-accent: #9333ea;
  }

  body {
    background-color: var(--color-surface);
  }
}
